<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <header class="white band padded">
      <div><img src="/dxpt.png" style="width:20%;"></div><big>Welcome menghy! <span style="color: red;">balance is 34569.</span></big>

      <div class="pull-right">
	<nav class="inline">
	  <ul>
	    <li><a class="modal button" href="http://placekitten.com/" title="查看我的信息">我的信息</a></li>

	    <li><a href="#nowhere" title="q">退出</a></li>
	  </ul>
	</nav>
      </div>
      <hr>

      <div class="pull-left">
	<nav class="inline">
	  <ul>

	    <li><a href="#nowhere" title="g;">发送短信</a></li>

	    <li><a href="#nowhere" title="gg;">发送记录</a></li>

	    <li><a href="#nowhere" title="g;">费用明细</a></li>

	    <li><a href="#nowhere" title="g">我的客户</a></li>
	  </ul>
	</nav>
      </div>
    </header>
  </div>

  <div class="container">
    <div class="row">
      <div class="one whole padded">

	  <fieldset>
	    <legend></legend>


	    <div class="row">
	      <div class="one half padded">
		<label for="message">gg</label> 
		<textarea id="message" placeholder="please input tel num..">		</textarea> 
		<%= f.text_area :telnum  %>
		<%= text_area_tag(:telnum, "lllll") %>
     <label for="name">g</label>
	      </div>

	      <div class="one fourth padded">
		<span>&nbsp;</span>
		<p><a class="modal button" href="http://placekitten.com/">b</a></p>
		<p><a class="modal button" href="http://placekitten.com/">b</a></p>
	      </div>
	    </div>

	    <div class="row">
	      <div class="one half padded">
		<label for="message">jhg</label>
		<textarea name="textarea" id="textarea" placeholder="gggg228;hj...">
        </textarea>
		<label for="name">jhg</label>
	      </div>

	      <div class="one fourth padded">
		<span>&nbsp;</span>

		<p><a class="modal button" href="http://placekitten.com/">g;j</a></p>
	      </div>
	    </div>

	    <div class="row">
	      <p><label for="message">b<span class="radio-list" style="margin-left: 2em">
	        <input type="radio" id="thing1" name="things" checked>
b
<input type="radio" id="thing2" name="things">
b </span><span class="radio-list" style="margin-left: 2em">
<input name="text" type="text" placeholder="2012-12-24 23:15:45">
</span></label>
	      </p>

	      <div style="margin-left: 2em" class="radio-list"></div>
	    </div>

	    <div class="row">
	      <div class="one whole padded">
		<button>Submit</button>
	      </div>
	    </div>
	  </fieldset>

	<% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <footer class="footer align-right">
      <p>&#169; 2013 Gary Hepting. Free to use, but <a href="mailto:groundwork@sidereel.com">give me a shout</a> if you find GroundworkCSS extremely useful!</p>
    </footer>
  </div><!-- scripts -->
  <script type="text/javascript" src="./js/plugins/jquery.orbit-1.4.0.js">
</script><script type="text/javascript" src="./js/groundwork.js">
</script><!-- google analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

 