<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="one whole padded">
	  <fieldset>
	    <legend></legend>
	    <div class="row">
	      <div class="one half padded">
		       <label for="message">发送号码</label> 
	        	<%= f.text_area :telnum  %>
            <label for="name">100个号码，32个有效号码</label>
	      </div>
	      <div class="one fourth padded">
		     <span>&nbsp;</span>
	      	<p><a class="modal button" href="http://placekitten.com/">通讯录导入<i class="icon-external-link"></i></a></p>
		      <p><a class="modal button" href="http://placekitten.com/">文件导入</a></p>
	      </div>
	    </div>

	    <div class="row">
	      <div class="one half padded">
		<label for="message">发送内容</label>
		<%= f.text_area :message  %>
			<label for="name">120个字</label>
	      </div>
	      <div class="one fourth padded">
		<span>&nbsp;</span>
		<p><a class="modal button" href="http://placekitten.com/">使用过的内容</a></p>
	      </div>
	    </div>
                  <div class="row">
                  <div class="one whole padded">
                    <input type="checkbox" name="things" checked=""> 定时发送!
                    <input name="time" type="text">
                  </div>
                </div>
	    <div class="row">
	      <div class="one whole padded">
		<button>发送</button>
	      </div>
	    </div>
	  </fieldset>

	<% end %>
      </div>
    </div>
  </div>

  
 